<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <%- include ./partials/header %>
  </head>
  <body>
  <p>change in the body of the home page</p>
    <h1><%= count %></h1>
  </body>
</html>
