<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <%- include ./partials/header %>

  </head>

  <body>
    <div class="container">
      <h2 class="heading">Login</h2>
      <form action="#" class="form">
        <label for="email" class="label">Email: </label>
        <div class="input-box">
          <input type="email" name="email" id="email" class="input" autocomplete="off">
        </div>

        <label for="pass" class="label">Password: </label>
        <div class="input-box">
          <input type="password" name="pass" id="contact" class="input" autocomplete="off">
        </div>
        <button class="submit" type="">Submit</button>
      </form>
    </div>
  </body>
</html>
